.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.movies-list {
  list-style: none;
}

.required-star {
    color: #e4631c;
    font-weight: bold;
    margin-left: 2px;
}

.form-legend {
    font-size: 1rem;
    color: #666;
    margin-top: 1rem;
}

.error-text {
    color: #e4631c;
    font-size: 1rem;
    display: block;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.container {
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    gap: 15px;
}

.manager-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 4, 18, 0.98);
    padding: 15px 25px;
    margin-bottom: 30px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.panel-brand {
    flex: 0 0 15%;
    text-align: left;
    align-self: flex-start;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
}


.panel-actions button {
    background: transparent;
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
    min-width: 220px;
    height: 40px;
}

.panel-actions button:hover {
    background: rgba(255,255,255,0.1);
}

.panel-actions button.active {
    background: #9b4dca;
    border-color: #9b4dca;
}

.panel-search {
    flex: 0 0 20%;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
}

.panel-search input {
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 220%;
}


.content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-height: 400px;
}

header {
    background-color: #270355;
    color: white;
    padding: 1rem 0;
}
header h1 {
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
    .manager-panel {
        flex-direction: column !important;
        padding: 10px !important;
        gap: 10px !important;
    }

    .panel-brand {
        order: 1 !important;
        margin-bottom: 5px !important;
        font-size: 1.2rem !important;
    }

    .panel-actions {
        order: 2 !important;
        width: 100% !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 8px !important;
        padding: 0 5px;
    }

    .panel-actions button {
        width: 100% !important;
        margin: 0 !important;
        font-size: 0.9rem !important;
        /*padding: 0 5px !important;*/
        height: 35px !important;
        min-width: 0 !important;
    }

    .panel-search {
        order: 3 !important;
        width: 100% !important;
        margin-top: 5px;
    }

    .panel-search input {
        width: 100% !important;
        height: 35px !important;
    }
}