.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.movies-list {
  list-style: none;
}

/* Styl dla gwiazdki */
.required-star {
    color: #e4631c;
    font-weight: bold;
    margin-left: 2px;
}

/* Styl dla tekstu legendy na dole */
.form-legend {
    font-size: 1rem;
    color: #666;
    margin-top: 1rem;
    /*font-style: italic;*/
}

.error-text {
    color: #e4631c;
    font-size: 0.8rem;
    display: block;
    margin-top: -1rem; /* Aby tekst był bliżej inputa */
    margin-bottom: 1rem;
}

/*.input-error {*/
/*    border-color: #e4631c !important;*/
/*}*/
