.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}
.movie-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.movie-details {
    margin-right: 10px;
}

.clickable-title {
    text-decoration: underline;
}

.movie-card-description {
    font-size: 0.95rem;
    color: #555;
    display: -webkit-box;
    max-width: 60%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-actions {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.movie-actions button {
    margin-bottom: 0;
    padding: 0 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    min-width: 90px;
}


@media (max-width: 992px) {
    .movie-card-header {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .movie-details {
        font-size: 1.1rem;
        line-height: 1.4;
    }

    .clickable-title {
        margin: 5px 0;
        font-size: 1.3rem;
        text-decoration: underline;
    }


    .movie-card-description {
        font-size: 0.95rem;
        color: #555;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .movie-actions {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    .movie-actions .button {
        flex: 1;
        margin: 0 !important;
        height: 35px !important;
        /*line-height: 40px !important;*/
        /*padding: 0 !important;*/
        font-size: 0.9rem;
    }
}

