/* MovieListItem.css */
.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

.movie-details {
    margin-right: 10px;
}

.movie-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.movie-card-description {
    font-size: 0.95rem;
    color: #333;
    display: -webkit-box;
    max-width: 60%;
    -webkit-line-clamp: 1; /* ilość lini */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-actions {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.movie-actions button {
    margin-bottom: 0;
    padding: 0 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    min-width: 90px;
}

